.full-calendar-comp {
  padding: 0 20px;
  overflow-y: auto;
}

.full-calendar-comp.fc-sticky {
  max-height: 50%;
  resize: vertical;
  overflow-y: auto;
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--fc-page-bg-color);
}

.full-calendar-comp .fc-event-main .bp3-control,
.full-calendar-filters .bp3-control {
  margin-bottom: 0;
  padding-top: 1px;
  font-weight: normal;
}

.full-calendar-comp
  /* label.bp3-control.bp3-checkbox */
  input[type="checkbox"]:focus {
  outline: none !important;
}

.full-calendar-comp .bp3-control.bp3-checkbox .bp3-control-indicator,
.full-calendar-comp .bp3-control.bp3-checkbox .bp3-control-indicator::before {
  margin-right: 2px;
  /* padding: 2px 0 0 5px; */
  width: 12px;
  height: 12px;
  border-radius: 2px;
}
.full-calendar-comp
  .full-calendar-filters
  .bp3-control.bp3-checkbox
  .bp3-control-indicator {
  margin-right: 5px;
}
/* .full-calendar-comp .fc-event-main .bp3-checkbox {
  scale: 0.8;
} */

.full-calendar-filters {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.fc-event .fc-event-main {
  padding-left: 3px;
  overflow: hidden;
}
.fc-event:not(.fc-event-main) {
  overflow: hidden;
}

.fc-event-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.fc-day-header {
  display: flex;
  justify-content: space-between;
}

.fc-event-popover,
.fc-event-popover > div {
  display: flex;
  flex-direction: column;
}
.fc-event-popover span,
.fc-event-popover button {
  cursor: pointer;
  align-self: flex-end;
}
