.full-calendar-comp .fc {
  max-height: calc(100vh - 85px);
}

.full-calendar-comp .fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1em;
  font-size: small;
}

.full-calendar-comp {
  padding: 0 10px;
  overflow-y: auto;
}
.full-calendar-comp.fc-sidebar {
  padding: 0 5px;
}

.full-calendar-comp.fc-sticky {
  max-height: 50%;
  resize: vertical;
  overflow-y: auto;
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--fc-page-bg-color);
}

.full-calendar-comp .bp3-tag.bp3-interactive:hover {
  filter: saturate(1.2) contrast(1.2);
}

.full-calendar-comp
  /* label.bp3-control.bp3-checkbox */
  input[type="checkbox"]:focus {
  outline: none;
  outline-width: 0;
}

.full-calendar-comp .bp3-control.bp3-checkbox .bp3-control-indicator,
.full-calendar-comp .bp3-control.bp3-checkbox .bp3-control-indicator::before {
  margin-right: 2px;
  /* padding: 2px 0 0 5px; */
  width: 12px;
  height: 12px;
  border-radius: 2px;
}

.full-calendar-comp
  .fc-filters
  .bp3-control.bp3-checkbox
  .bp3-control-indicator {
  margin-right: 5px;
}
/* .full-calendar-comp .fc-event-main .bp3-checkbox {
  scale: 0.8;
} */

/**********************/
/******* EVENTS *******/
/**********************/

.fc-event .fc-event-main {
  padding-left: 3px;
  overflow: hidden;
}
.fc-event:not(.fc-event-main) {
  overflow: hidden;
}

.fc-event .fc-event-main > span,
.fc-event .fc-event-main > span > span > div > span,
.fc-event .fc-event-main > span > span > div > span > span,
.fc-event .fc-event-main > span > span > div > span > span > span {
  display: block;
  width: 100%;
}
.fc-event .fc-event-main > span > span,
.fc-event .fc-event-main > span > span > div {
  width: 100%;
}

.full-calendar-comp .fc-event-main .bp3-control {
  margin-bottom: 0;
  margin-right: -10px;
  padding-top: 1px;
  font-weight: normal;
}
/* 
.fc-event .fc-event-main label.bp3-control.bp3-checkbox input {
  margin-top: 4px;
} */

.fc-event.fc-event-ref {
  border-bottom: 2px dashed rgb(255, 255, 255, 0.9) !important;
}
.fc-event.fc-event-ref.calendar {
  border-bottom: 2px dashed rgb(0, 0, 0, 0.2) !important;
}

.fc-event-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.fc-day-header {
  display: flex;
  justify-content: space-between;
}

/******* events tooltip *******/

.fc-event-tooltip {
  max-width: 350px;
}
/* body:has(.fc-event-main .bp3-control.bp3-checkbox:hover) .fc-event-tooltip {
  display: none;
} */

.fc-tag-list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

/******* events popover edit *******/

.bp3-popover.bp3-popover-content-sizing
  .bp3-popover-content:has(.fc-event-popover) {
  padding: 5px 10px 10px 10px;
}

.fc-event-popover > .bp3-icon {
  transform: translateX(5px);
}

.fc-event-popover {
  min-width: 200px;
  display: flex;
  flex-direction: column;
}
.fc-event-popover > div:first-of-type {
  padding-bottom: 15px;
}
.fc-event-popover span,
.fc-event-popover button {
  cursor: pointer;
  align-self: flex-end;
}

/**********************/
/*** FILTER SECTION ***/

.fc-filters {
  padding: 2px 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.fc-filters .bp3-tag-input .bp3-input-ghost {
  width: 50px;
}

.fc-filters .bp3-tag-input .bp3-icon-filter {
  align-self: center;
  padding-bottom: 7px;
}

.fc-tag-notag:hover {
  background-color: rgb(0, 0, 0, 0.1) !important;
}

.fc-filters .bp3-multi-select {
  min-width: 200px;
}

.fc-filters .bp3-multi-select .bp3-icon.bp3-icon-small-cross,
.fc-filters .bp3-multi-select .bp3-icon.bp3-icon-asterisk {
  align-self: center;
  cursor: pointer;
  opacity: 0.5;
  padding: 2px;
}
.fc-filters .bp3-multi-select .bp3-icon.bp3-icon-small-cross:hover,
.fc-filters .bp3-multi-select .bp3-icon.bp3-icon-asterisk:hover {
  opacity: 1;
}

.fc-filters .bp3-html-select {
  align-self: center;
}

.fc-filters select {
  text-align: center;
}

.fc-filters label.bp3-control.bp3-switch {
  min-width: fit-content;
}
.fc-filters .bp3-switch .bp3-switch-inner-text {
  line-height: inherit;
}
